<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic-contrib-tinder-cards/ionic.tdcards.js"></script>

    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

    <script src="js/lib.js"></script>
  </head>
  <body ng-app="starter" no-scroll>




    <ion-nav-view></ion-nav-view>

    <script id="templates/event-menu.html" type="text/ng-template">
      <ion-side-menus enable-menu-with-back-views="false">

        <ion-side-menu-content>
          <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>

          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left">
          <ion-header-bar class="bar-dark">
            <h1 class="title">Settings</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a href="#/event/home" class="item" menu-close>Home</a>
              <a href="#/event/check-in" class="item" menu-close>Profile</a>
              <a href="#/event/attendees" class="item" menu-close>My Matches</a>
              <a href="#/event/attendees" class="item" menu-close>My Likes</a>
            </ul>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </script>

    <script id="templates/check-in.html" type="text/ng-template">
      <ion-view view-title="Profile">
        <ion-content>
          <form class="list" ng-show="showForm">
            <div class="item item-divider">
              Personal Info
            </div>
            <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="attendee.firstname">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="attendee.lastname">
            </label>
<!--             <label class="item item-input">
              <input type="text" placeholder="Gender" ng-model="attendee.gender">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Age" ng-model="attendee.age">
            </label> -->
            <div class="item item-divider">
              Max Distance to Art
            </div>
            <ion-radio ng-repeat="shirtSize in shirtSizes"
                       ng-value="shirtSize.value"
                       ng-model="attendee.shirtSize">
              {{ shirtSize.text }}
            </ion-radio>
            <div class="padding">
              <button class="button button-block" ng-click="submit()">Create User</button>
            </div>
          </form>

          <div ng-hide="showForm">
            <pre ng-bind="attendee | json"></pre>
            <a href="#/event/home">View matches</a>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/home.html" type="text/ng-template">

    <ion-pane ng-controller="CardsCtrl">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Vores Kunst</h1>
        </ion-header-bar>

        <td-cards>
            <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-hold="onHold($index)" on-partial-swipe="cardPartialSwipe(amt)">
                <div class="title">
                    {{card.title}}
                </div>

                    <div class="image">
                    <div class="no-text overlayBox"><div class="noBox boxed">No</div></div>
                    <img ng-src="{{card.url}}">
                    <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Yes</div></div>

                </div>
            </td-card>
        </td-cards>
    </ion-pane>



    </script>



    <script id="templates/attendees.html" type="text/ng-template">
      <ion-view view-title="My matches">

      <div id="attendees" class="list">

      <a class="item item-avatar" href="#">
      <img src="img/user.png">
      <h2>Aske Mottelson</h2>
      <p>Hacking our art since 2016</p>
      </a>

      <a class="item item-avatar" href="#">
      <img src="img/user.png">
      <h2>Demosthenes Kontogiorgos</h2>
      <p>Hacking our art since 2016</p>
      </a>

    </div>

      </ion-view>
    </script>



      </body>

</html>
